code/flow.json
[{"id":"f2fd0c1.e6e527","type":"ui_button","z":"fc8cdfa8.964e08","name":"","group":"b206b05d.da0668","order":6,"width":0,"height":0,"label":"Reset Total","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":510,"y":520,"wires":[["a2df900c.39de28","30a8463b.b43c3a"]]},{"id":"b7684937.b2e1b8","type":"ui_gauge","z":"fc8cdfa8.964e08","name":"","group":"b206b05d.da0668","order":1,"width":0,"height":0,"gtype":"wave","title":"Pipe","label":"units","format":"{{payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":870,"y":300,"wires":[]},{"id":"69545422.7dc874","type":"ui_slider","z":"fc8cdfa8.964e08","name":"","label":"% Pipe Filled","group":"b206b05d.da0668","order":2,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":410,"y":360,"wires":[["40138fba.ca392"]]},{"id":"82a386f7.75ee6","type":"inject","z":"fc8cdfa8.964e08","name":"Update Usage Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":310,"y":120,"wires":[["cc5df268.d1be8","7da2ae4b.2774c8","77a2a4e.29374dc"]]},{"id":"cc5df268.d1be8","type":"function","z":"fc8cdfa8.964e08","name":"Update Totals","func":"var total = flow.get('total') || 0;\nvar waterrate = flow.get('waterrate') || 0;\nvar gps = flow.get('gps') || 0;\n\ntotal += (waterrate/100)*gps;\nflow.set('total', total);\n\nmsg.payload = Math.floor(total*100)/100;\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["7dbd0bf9.109ee4","ffd44456.921ef"]]},{"id":"7dbd0bf9.109ee4","type":"ui_text","z":"fc8cdfa8.964e08","group":"b206b05d.da0668","order":4,"width":0,"height":0,"name":"","label":"Water Meter","format":"{{msg.payload}} gallons","layout":"row-spread","x":750,"y":140,"wires":[]},{"id":"ec56d5da.b2f2e8","type":"ui_chart","z":"fc8cdfa8.964e08","name":"","group":"3f7f67a9.898728","order":5,"width":0,"height":0,"label":"Water Rate","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":730,"y":220,"wires":[[],[]]},{"id":"7da2ae4b.2774c8","type":"function","z":"fc8cdfa8.964e08","name":"Get Current Rate","func":"msg.payload = (flow.get('waterrate')/100)*flow.get('gps');\nmsg.topic = 'Gallons/Second';\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["ec56d5da.b2f2e8"]]},{"id":"2f899d1e.213502","type":"inject","z":"fc8cdfa8.964e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":300,"wires":[["e24cad11.e50bc8"]]},{"id":"8b6c4dac.d4b0e8","type":"ui_numeric","z":"fc8cdfa8.964e08","name":"","label":"Pipe Diameter","group":"b206b05d.da0668","order":3,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}/gps","min":0,"max":"1000","step":1,"x":140,"y":520,"wires":[["51f13947.54eac8"]]},{"id":"a2df900c.39de28","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"total","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":520,"wires":[[]]},{"id":"51f13947.54eac8","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"gps","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[[]]},{"id":"40138fba.ca392","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"waterrate","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["b4fe9593.0cb49"]]},{"id":"b4fe9593.0cb49","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waterrate","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":300,"wires":[["b7684937.b2e1b8"]]},{"id":"e24cad11.e50bc8","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["7da2ae4b.2774c8","b4fe9593.0cb49","69545422.7dc874"]]},{"id":"f23563f5.35d118","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"senddata","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":620,"wires":[[]]},{"id":"1e5ed058.f1073","type":"ui_switch","z":"fc8cdfa8.964e08","name":"","label":"Send IoT Data","group":"b0094e1f.170768","order":0,"width":0,"height":0,"passthru":true,"topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":140,"y":620,"wires":[["f23563f5.35d118"]]},{"id":"77a2a4e.29374dc","type":"switch","z":"fc8cdfa8.964e08","name":"","property":"senddata","propertyType":"flow","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":530,"y":80,"wires":[["fbef0811.8f03e"]]},{"id":"fbef0811.8f03e","type":"function","z":"fc8cdfa8.964e08","name":"Set IoT Payload","func":"msg.payload = {\n    d: {\n        rate: flow.get('waterrate')/100,\n        gps: flow.get('gps'),\n        total: Math.floor(flow.get('total')*100)/100\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":80,"wires":[["27af93b4.75d3e4","88532a96.75abc"]]},{"id":"5c312316.344d2c","type":"ui_template","z":"fc8cdfa8.964e08","group":"b0094e1f.170768","name":"","order":0,"width":"6","height":"6","format":"<pre ng-bind-html=\"msg.payload\"></pre>","storeOutMessages":true,"fwdInMessages":true,"x":1020,"y":40,"wires":[[]]},{"id":"27af93b4.75d3e4","type":"function","z":"fc8cdfa8.964e08","name":"Prettify JSON","func":"msg.payload = JSON.stringify(msg.payload, true, 2);\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":40,"wires":[["5c312316.344d2c"]]},{"id":"88532a96.75abc","type":"wiotp out","z":"fc8cdfa8.964e08","authType":"d","qs":"true","qsDeviceId":"88532a96.75abc","deviceKey":"","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":830,"y":80,"wires":[]},{"id":"9582e973.39101","type":"comment","z":"fc8cdfa8.964e08","name":"Every Second, Update Totals and (optionally) Publish IoT Event","info":"","x":370,"y":20,"wires":[]},{"id":"d9f1b3d.9a5f05","type":"comment","z":"fc8cdfa8.964e08","name":"Set Pipe Diameter","info":"","x":150,"y":480,"wires":[]},{"id":"90b944ed.8222","type":"comment","z":"fc8cdfa8.964e08","name":"Reset Usage Total","info":"","x":530,"y":480,"wires":[]},{"id":"fc804126.c93e98","type":"comment","z":"fc8cdfa8.964e08","name":"Toggle Publish IoT Event","info":"","x":170,"y":580,"wires":[]},{"id":"a27af746.f399b8","type":"comment","z":"fc8cdfa8.964e08","name":"If Pipe % Changes, Update","info":"","x":460,"y":400,"wires":[]},{"id":"306db804.368938","type":"inject","z":"fc8cdfa8.964e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":150,"y":720,"wires":[["a485a77d.a37aa8"]]},{"id":"30a8463b.b43c3a","type":"change","z":"fc8cdfa8.964e08","name":"","rules":[{"t":"set","p":"alertsent","pt":"flow","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":560,"wires":[[]]},{"id":"800045be.b609","type":"switch","z":"fc8cdfa8.964e08","name":"Total Flow > 20 gallons?","property":"total","propertyType":"flow","rules":[{"t":"gt","v":"20","vt":"num"}],"checkall":"true","outputs":1,"x":550,"y":720,"wires":[["f4631fa3.41dbf"]]},{"id":"56d0a8cd.dc81c8","type":"ui_toast","z":"fc8cdfa8.964e08","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":720,"wires":[]},{"id":"f4631fa3.41dbf","type":"change","z":"fc8cdfa8.964e08","name":"Usage Warning","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sending Overusage Warning","tot":"str"},{"t":"set","p":"alertsent","pt":"flow","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":720,"wires":[["56d0a8cd.dc81c8"]]},{"id":"a485a77d.a37aa8","type":"switch","z":"fc8cdfa8.964e08","name":"Alert Not Sent Yet?","property":"alertsent","propertyType":"flow","rules":[{"t":"false"}],"checkall":"true","outputs":1,"x":330,"y":720,"wires":[["800045be.b609"]]},{"id":"ffd44456.921ef","type":"ui_gauge","z":"fc8cdfa8.964e08","name":"","group":"3f7f67a9.898728","order":0,"width":"3","height":"3","gtype":"gage","title":"Water Challenge","label":"gallons","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"x":760,"y":180,"wires":[]},{"id":"4a18ce56.168a28","type":"comment","z":"fc8cdfa8.964e08","name":"Notify If Usage > 20 Gallons","info":"","x":180,"y":680,"wires":[]},{"id":"b206b05d.da0668","type":"ui_group","z":"","name":"Water Hack","tab":"1c2ef02c.8d86a","disp":true,"width":"6"},{"id":"3f7f67a9.898728","type":"ui_group","z":"","name":"Usage","tab":"1c2ef02c.8d86a","disp":true,"width":"12"},{"id":"b0094e1f.170768","type":"ui_group","z":"","name":"Watson IoT","tab":"1c2ef02c.8d86a","disp":true,"width":"6"},{"id":"1c2ef02c.8d86a","type":"ui_tab","z":"","name":" Home","icon":"dashboard"}]
